POCKETBASE_URL=https://pb.fulbitoprode.com
SESSION_SECRET=change_me_to_a_long_random_secret
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=replace_me
HEALTHCHECK_TOKEN=
PUBLIC_APP_URL=https://app.fulbitoprode.com
PORT=3000
